@media screen and (max-width: 840px) {

  .label-box {
    bottom: 0;
  }

  .header-right {
    width: 160px;
  }

  .resp-hide,
  .drop.button {
    display: none;
  }

  .responsive-ico {
    display: block;
  }

  .drop-box {
    max-width: 550px;
  }

  .menu-list:nth-child(3) .drop-box {
    left: -145px;

  }

  .menu-list:nth-child(3) .drop-box::before {
    left: 178px;
  }

  .bg-video {
    display: none;
  }
  .bunner {
    background: url("../images/bunner.png") no-repeat 100% 100%;
  }

  .offers {
    display: flex;
    flex-direction: column;
    .offers-bar {
      width: 100%;
      .offers-item {
        max-height: 400px;
        margin-bottom: 2.5%;
        overflow: hidden;
      }
    }
  }

  .features-item {
    width: 31.46%;
  }

  .product-item.resp-hide {
    display: block;
  }

  .features-hidden {
    display: block;
  }

  .advantages {
    flex-direction: column;
    height: 100vw;
    .advantage-left {
      background-size: 100%;
      min-height: 350px;
    }
    .advantage-left,
    .advantage-right {
      width: 100%;
      box-sizing: border-box;
    }

    .advantage-right {
      min-height: 478px;
      padding: 7.5%;
      align-items: center;
      .advantage-item {
        margin-bottom: 30px;
        flex-direction: column;
        display: flex;
      }

      .advantage-right-text {
        margin-top: 5px;
        margin-left: 0;
        width: 225px;
        text-align: center;
      }

    }
  }

  .column {
    flex-direction: column;
    .feedback-block {
      width: 70%;
      padding-right: 0;
      border: none;
    }

  }

  .feedback {

    .email-input {
      width: 253px;
    }
  }

  .middle-footer {
    display: flex;
    flex-direction: column;
    .footer-item {
      margin-top: 50px;
      width: 100%;
      text-align: center;
      .footer-menu {
        display: flex;
        justify-content: space-around;
      }
      .footer-menu-list {
        margin-top: 0;
      }
    }
  }
  .advantages {
    flex-direction: column;
    height: auto;
  }
  /*Products*/
  .sort-item {
    display: none;
  }

  .sort-box {
    height: auto;
  }

  .left-bar {
    display: none;
    position: absolute;
  }

  .other-sort {
    padding-bottom: 0;
    flex-wrap: wrap;
    .sort-name-text {
      cursor: pointer;
      display: none;
      max-height: 37px;
    }

    .select {
      color: #6f6e6e;
      font-size: 14px;
      font-weight: 400;
      border: 1px solid #ebebeb;
      background-color: #ffffff;
      padding: 9px 13px 9px 13px;
      margin-bottom: 10px;
    }
  }

  .hidden-sort {
    display: block;
  }

  .sort-checkbox:checked ~ .drop-box {
    display: flex;
    flex-direction: column;
  }

  .content {
    width: 100%;
  }

  .product-advantage {
    padding-top: 15px;
    padding-bottom: 33px;
    div.flex-box {
      flex-direction: column;
      .product-advantage-item {
        margin-bottom: 30px;
      }
    }
  }

  .checkout-box {
    padding-right: 0;
  }
  .user-login {
    margin-bottom: 50px;
  }

  .purchase-reg {
    flex-wrap: wrap;
    .shipping,
    .discount {
      flex-basis: 48%;
    }
    .shipping {
      margin-right: 10px;
    }
    .checkout-box-info {
      width: 100% ;
    }
  }

  .single-product-box {
    flex-direction: row;
    justify-content: space-between;
    padding:  73px 20px;

    .single-product-info {
      border: none;
      min-width: 350px;
    }
    .single-product-character {
      padding: 0;
      flex-direction: column;
      padding: 12px 0;
      width: 30%;
      &-item {
        width: 100%;
      }
    }
  }
  .responsive-br {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}







